.container{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4,237px);
    gap: 3px 3px;
}
/* .content{
    border: 2px solid;
} */
.content8{
    grid-column: 1/3;
    
}
.content4{
    grid-column: 4/6;
}
.content9{
    grid-column: 3/5;
}
.content10{
    grid-column: 5/7;
}
.content11{
    grid-column: 7/9;
}
.content12{
    grid-column: 1/3;
}
.content13{
    grid-column: 3/5;
}
.content14{
    grid-column: 5/7;
}
.content15{
    grid-column: 7/9;
}
.content18{
    grid-column: 3/5;
}
.content19{
    grid-column: 5/7;
}